body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1470px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:1345px;
}
#u5877 {
  position:absolute;
  left:180px;
  top:128px;
  width:1291px;
  height:1344px;
  color:#999999;
}
#u5878 {
  position:absolute;
  left:2px;
  top:664px;
  width:1287px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1291px;
  height:70px;
}
#u5879 {
  position:absolute;
  left:180px;
  top:58px;
  width:1290px;
  height:69px;
}
#u5880 {
  position:absolute;
  left:2px;
  top:26px;
  width:1286px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5881_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:193px;
  height:26px;
}
#u5881 {
  position:absolute;
  left:200px;
  top:85px;
  width:188px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u5881_img.selected {
}
#u5881.selected {
}
#u5882 {
  position:absolute;
  left:10px;
  top:1px;
  width:176px;
  word-wrap:break-word;
}
#u5883 {
  position:absolute;
  left:179px;
  top:58px;
  width:2px;
  height:929px;
  overflow:hidden;
}
#u5883_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:929px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u5883_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:1416px;
}
#u5884 {
  position:absolute;
  left:0px;
  top:57px;
  width:180px;
  height:1415px;
}
#u5885 {
  position:absolute;
  left:2px;
  top:700px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5886 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  overflow:hidden;
}
#u5886_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(70, 76, 91, 0.898039215686275);
  background-image:none;
}
#u5886_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5886_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(52, 152, 219, 1);
  background-image:none;
}
#u5886_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5886_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(237, 110, 77, 1);
  background-image:none;
}
#u5886_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5886_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(250, 187, 61, 1);
  background-image:none;
}
#u5886_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5886_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(170, 122, 179, 1);
  background-image:none;
}
#u5886_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5886_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(154, 208, 185, 1);
  background-image:none;
}
#u5886_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5886_state6 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(234, 148, 190, 1);
  background-image:none;
}
#u5886_state6_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5886_state7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1471px;
  height:59px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(193, 55, 74, 1);
  background-image:none;
}
#u5886_state7_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5887 {
  position:absolute;
  left:0px;
  top:56px;
  width:1367px;
  height:3px;
  overflow:hidden;
}
#u5887_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1367px;
  height:3px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.2);
  background-image:none;
}
#u5887_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:57px;
}
#u5888 {
  position:absolute;
  left:18px;
  top:0px;
  width:161px;
  height:56px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:28px;
}
#u5888_img.selected {
}
#u5888.selected {
}
#u5889 {
  position:absolute;
  left:0px;
  top:14px;
  width:161px;
  word-wrap:break-word;
}
#u5890 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:36px;
}
#u5891 {
  position:absolute;
  left:10px;
  top:77px;
  width:160px;
  height:35px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
#u5892 {
  position:absolute;
  left:30px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u5893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u5893 {
  position:absolute;
  left:18px;
  top:86px;
  width:14px;
  height:16px;
  font-size:12px;
  color:#666666;
}
#u5893_img.mouseOver {
}
#u5893.mouseOver {
}
#u5894 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5895 {
  position:absolute;
  left:179px;
  top:127px;
  width:1292px;
  height:2px;
  overflow:hidden;
}
#u5895_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:2px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
}
#u5895_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:1048px;
}
#u5896 {
  position:absolute;
  left:179px;
  top:58px;
  width:1px;
  height:1047px;
}
#u5897 {
  position:absolute;
  left:2px;
  top:516px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5898 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:58px;
}
#u5899 {
  position:absolute;
  left:452px;
  top:0px;
  width:88px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:408;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5899_img.mouseOver {
}
#u5899.mouseOver {
}
#u5899_img.selected {
}
#u5899.selected {
}
#u5900 {
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u5901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:58px;
}
#u5901 {
  position:absolute;
  left:364px;
  top:0px;
  width:88px;
  height:57px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u5901_img.mouseOver {
}
#u5901.mouseOver {
}
#u5901_img.selected {
}
#u5901.selected {
}
#u5902 {
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u5903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:58px;
}
#u5903 {
  position:absolute;
  left:277px;
  top:0px;
  width:88px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:408;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5903_img.mouseOver {
}
#u5903.mouseOver {
}
#u5903_img.selected {
}
#u5903.selected {
}
#u5904 {
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u5905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u5906 {
  position:absolute;
  left:-1px;
  top:142px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u5906_img.mouseOver {
}
#u5906.mouseOver {
}
#u5906_img.selected {
}
#u5906.selected {
}
#u5907 {
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u5908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5908 {
  position:absolute;
  left:17px;
  top:160px;
  width:9px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5908_img.mouseOver {
}
#u5908.mouseOver {
}
#u5908_img.selected {
}
#u5908.selected {
}
#u5909 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u5911 {
  position:absolute;
  left:0px;
  top:239px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u5911_img.selected {
}
#u5911.selected {
}
#u5912 {
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u5913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u5913 {
  position:absolute;
  left:159px;
  top:262px;
  width:10px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5914 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5915 {
  position:absolute;
  left:18px;
  top:256px;
  width:9px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5915_img.mouseOver {
}
#u5915.mouseOver {
}
#u5915_img.selected {
}
#u5915.selected {
}
#u5916 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u5917 {
  position:absolute;
  left:0px;
  top:290px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u5917_img.mouseOver {
}
#u5917.mouseOver {
}
#u5917_img.selected {
}
#u5917.selected {
}
#u5918 {
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u5919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u5919 {
  position:absolute;
  left:0px;
  top:338px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u5919_img.mouseOver {
}
#u5919.mouseOver {
}
#u5919_img.selected {
}
#u5919.selected {
}
#u5920 {
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u5921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u5921 {
  position:absolute;
  left:160px;
  top:162px;
  width:10px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5922 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u5924 {
  position:absolute;
  left:0px;
  top:389px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u5924_img.selected {
}
#u5924.selected {
}
#u5925 {
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u5926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u5926 {
  position:absolute;
  left:159px;
  top:411px;
  width:10px;
  height:9px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5927 {
  position:absolute;
  left:2px;
  top:-4px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:17px;
}
#u5928 {
  position:absolute;
  left:18px;
  top:406px;
  width:9px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5928_img.mouseOver {
}
#u5928.mouseOver {
}
#u5928_img.selected {
}
#u5928.selected {
}
#u5929 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u5930 {
  position:absolute;
  left:0px;
  top:440px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u5930_img.mouseOver {
}
#u5930.mouseOver {
}
#u5930_img.selected {
}
#u5930.selected {
}
#u5931 {
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u5932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u5932 {
  position:absolute;
  left:0px;
  top:487px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u5932_img.mouseOver {
}
#u5932.mouseOver {
}
#u5932_img.selected {
}
#u5932.selected {
}
#u5933 {
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u5934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:49px;
}
#u5934 {
  position:absolute;
  left:0px;
  top:190px;
  width:180px;
  height:48px;
  color:#353535;
  text-align:left;
}
#u5934_img.mouseOver {
}
#u5934.mouseOver {
}
#u5934_img.selected {
}
#u5934.selected {
}
#u5935 {
  position:absolute;
  left:48px;
  top:16px;
  width:132px;
  word-wrap:break-word;
}
#u5936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:58px;
}
#u5936 {
  position:absolute;
  left:195px;
  top:-1px;
  width:88px;
  height:57px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u5936_img.mouseOver {
}
#u5936.mouseOver {
}
#u5936_img.selected {
}
#u5936.selected {
}
#u5937 {
  position:absolute;
  left:2px;
  top:20px;
  width:84px;
  word-wrap:break-word;
}
#u5938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:1127px;
}
#u5938 {
  position:absolute;
  left:1092px;
  top:222px;
  width:358px;
  height:1126px;
  text-align:left;
}
#u5939 {
  position:absolute;
  left:20px;
  top:555px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1251px;
  height:51px;
}
#u5940 {
  position:absolute;
  left:200px;
  top:162px;
  width:1250px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1ABC9C;
  text-align:left;
  line-height:28px;
}
#u5941 {
  position:absolute;
  left:20px;
  top:11px;
  width:1228px;
  word-wrap:break-word;
}
#u5942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:883px;
  height:1127px;
}
#u5942 {
  position:absolute;
  left:200px;
  top:222px;
  width:882px;
  height:1126px;
  text-align:left;
}
#u5943 {
  position:absolute;
  left:20px;
  top:555px;
  width:860px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:187px;
}
#u5944 {
  position:absolute;
  left:1117px;
  top:311px;
  width:308px;
  height:187px;
}
#u5945 {
  position:absolute;
  left:2px;
  top:86px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
}
#u5946 {
  position:absolute;
  left:1101px;
  top:244px;
  width:81px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5947 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:28px;
}
#u5948 {
  position:absolute;
  left:1121px;
  top:498px;
  width:41px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5949 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u5950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:156px;
}
#u5950 {
  position:absolute;
  left:1121px;
  top:581px;
  width:304px;
  height:156px;
}
#u5951 {
  position:absolute;
  left:2px;
  top:70px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:28px;
}
#u5952 {
  position:absolute;
  left:1121px;
  top:749px;
  width:53px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5953 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u5954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u5954 {
  position:absolute;
  left:1121px;
  top:816px;
  width:300px;
  height:170px;
}
#u5955 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u5956 {
  position:absolute;
  left:1221px;
  top:851px;
  width:100px;
  height:100px;
}
#u5957 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
}
#u5958 {
  position:absolute;
  left:1121px;
  top:996px;
  width:81px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5959 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:28px;
}
#u5960 {
  position:absolute;
  left:217px;
  top:244px;
  width:81px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u5961 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
}
#u5962 {
  position:absolute;
  left:1317px;
  top:1406px;
  width:119px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5962_img.mouseOver {
}
#u5962.mouseOver {
}
#u5963 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u5964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
}
#u5964 {
  position:absolute;
  left:1160px;
  top:1406px;
  width:119px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5964_img.mouseOver {
}
#u5964.mouseOver {
}
#u5965 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u5966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:46px;
}
#u5966 {
  position:absolute;
  left:1002px;
  top:1406px;
  width:119px;
  height:45px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5966_img.mouseOver {
}
#u5966.mouseOver {
}
#u5967 {
  position:absolute;
  left:2px;
  top:12px;
  width:115px;
  word-wrap:break-word;
}
#u5968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:797px;
  height:934px;
}
#u5968 {
  position:absolute;
  left:243px;
  top:389px;
  width:796px;
  height:933px;
}
#u5969 {
  position:absolute;
  left:2px;
  top:458px;
  width:792px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:101px;
}
#u5970 {
  position:absolute;
  left:236px;
  top:286px;
  width:811px;
  height:101px;
}
#u5971 {
  position:absolute;
  left:2px;
  top:42px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:88px;
}
#u5972 {
  position:absolute;
  left:277px;
  top:449px;
  width:731px;
  height:87px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5973 {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  word-wrap:break-word;
}
#u5974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:732px;
  height:711px;
}
#u5974 {
  position:absolute;
  left:276px;
  top:546px;
  width:731px;
  height:710px;
  font-family:'方正报宋简体';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u5975 {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  word-wrap:break-word;
}
#u5976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:18px;
}
#u5976 {
  position:absolute;
  left:1312px;
  top:16px;
  width:121px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:408;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u5977 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
