body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1693px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:1335px;
}
#u176 {
  position:absolute;
  left:21px;
  top:148px;
  width:750px;
  height:1334px;
  font-size:11px;
  color:#000000;
}
#u177 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u179 {
  position:absolute;
  left:340px;
  top:148px;
  width:37px;
  height:37px;
  overflow:hidden;
}
#u179_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u179_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u179_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u179_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:38px;
}
#u180 {
  position:absolute;
  left:21px;
  top:148px;
  width:750px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u181 {
  position:absolute;
  left:2px;
  top:11px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:89px;
}
#u182 {
  position:absolute;
  left:21px;
  top:186px;
  width:750px;
  height:88px;
}
#u183 {
  position:absolute;
  left:2px;
  top:36px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:51px;
}
#u184 {
  position:absolute;
  left:668px;
  top:205px;
  width:73px;
  height:50px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u185 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u186 {
  position:absolute;
  left:545px;
  top:154px;
  width:70px;
  height:20px;
  font-size:24px;
  color:#FFFFFF;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u188 {
  position:absolute;
  left:351px;
  top:465px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:43px;
}
#u190 {
  position:absolute;
  left:357px;
  top:386px;
  width:21px;
  height:42px;
  font-size:36px;
  color:rgba(51, 51, 51, 0.6);
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:43px;
}
#u192 {
  position:absolute;
  left:357px;
  top:305px;
  width:21px;
  height:42px;
  font-size:36px;
  color:rgba(51, 51, 51, 0.298039215686275);
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:43px;
}
#u194 {
  position:absolute;
  left:351px;
  top:545px;
  width:38px;
  height:42px;
  font-size:36px;
  color:rgba(51, 51, 51, 0.6);
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u196 {
  position:absolute;
  left:351px;
  top:625px;
  width:41px;
  height:42px;
  font-size:36px;
  color:rgba(51, 51, 51, 0.298039215686275);
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:68px;
}
#u198 {
  position:absolute;
  left:160px;
  top:453px;
  width:97px;
  height:67px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:68px;
}
#u200 {
  position:absolute;
  left:160px;
  top:372px;
  width:97px;
  height:67px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u202 {
  position:absolute;
  left:545px;
  top:465px;
  width:41px;
  height:42px;
  font-size:36px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u204 {
  position:absolute;
  left:545px;
  top:386px;
  width:41px;
  height:42px;
  font-size:36px;
  color:rgba(51, 51, 51, 0.6);
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u206 {
  position:absolute;
  left:545px;
  top:305px;
  width:41px;
  height:42px;
  font-size:36px;
  color:rgba(51, 51, 51, 0.298039215686275);
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u208 {
  position:absolute;
  left:545px;
  top:545px;
  width:41px;
  height:42px;
  font-size:36px;
  color:rgba(51, 51, 51, 0.6);
}
#u209 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:43px;
}
#u210 {
  position:absolute;
  left:545px;
  top:625px;
  width:41px;
  height:42px;
  font-size:36px;
  color:rgba(51, 51, 51, 0.298039215686275);
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:2px;
}
#u212 {
  position:absolute;
  left:117px;
  top:446px;
  width:558px;
  height:1px;
}
#u213 {
  position:absolute;
  left:2px;
  top:-8px;
  width:554px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:2px;
}
#u214 {
  position:absolute;
  left:117px;
  top:525px;
  width:558px;
  height:1px;
}
#u215 {
  position:absolute;
  left:2px;
  top:-8px;
  width:554px;
  visibility:hidden;
  word-wrap:break-word;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u217 {
  position:absolute;
  left:21px;
  top:789px;
  width:750px;
  height:90px;
}
#u218 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:41px;
}
#u219 {
  position:absolute;
  left:51px;
  top:814px;
  width:57px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:41px;
}
#u221 {
  position:absolute;
  left:440px;
  top:814px;
  width:252px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  white-space:nowrap;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u223 {
  position:absolute;
  left:702px;
  top:820px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u224 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u225 {
  position:absolute;
  left:21px;
  top:879px;
  width:750px;
  height:90px;
}
#u226 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:41px;
}
#u227 {
  position:absolute;
  left:51px;
  top:904px;
  width:57px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:41px;
}
#u229 {
  position:absolute;
  left:439px;
  top:904px;
  width:253px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u231 {
  position:absolute;
  left:702px;
  top:910px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u232 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u233 {
  position:absolute;
  left:21px;
  top:969px;
  width:750px;
  height:90px;
}
#u234 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:41px;
}
#u235 {
  position:absolute;
  left:51px;
  top:994px;
  width:57px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u236 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u237 {
  position:absolute;
  left:21px;
  top:1059px;
  width:750px;
  height:90px;
}
#u238 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u239 {
  position:absolute;
  left:51px;
  top:1084px;
  width:85px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u240 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u241 {
  position:absolute;
  left:607px;
  top:1084px;
  width:85px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u243 {
  position:absolute;
  left:702px;
  top:1090px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u244 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:81px;
}
#u245 {
  position:absolute;
  left:51px;
  top:1358px;
  width:690px;
  height:80px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u246 {
  position:absolute;
  left:2px;
  top:20px;
  width:686px;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:91px;
}
#u247 {
  position:absolute;
  left:117px;
  top:689px;
  width:558px;
  height:90px;
  font-size:36px;
  color:rgba(51, 51, 51, 0.698039215686274);
}
#u248 {
  position:absolute;
  left:2px;
  top:20px;
  width:554px;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u249 {
  position:absolute;
  left:668px;
  top:1000px;
  width:50px;
  height:29px;
}
#u250 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u251 {
  position:absolute;
  left:668px;
  top:1000px;
  width:28px;
  height:29px;
}
#u252 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u253 {
  position:absolute;
  left:21px;
  top:1149px;
  width:750px;
  height:90px;
}
#u254 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
}
#u255 {
  position:absolute;
  left:51px;
  top:1174px;
  width:141px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u257 {
  position:absolute;
  left:21px;
  top:1239px;
  width:750px;
  height:90px;
}
#u258 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u259 {
  position:absolute;
  left:51px;
  top:1264px;
  width:169px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u261 {
  position:absolute;
  left:668px;
  top:1180px;
  width:50px;
  height:29px;
}
#u262 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u263 {
  position:absolute;
  left:668px;
  top:1180px;
  width:28px;
  height:29px;
}
#u264 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u265 {
  position:absolute;
  left:668px;
  top:1270px;
  width:50px;
  height:29px;
}
#u266 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u267 {
  position:absolute;
  left:690px;
  top:1270px;
  width:28px;
  height:29px;
}
#u268 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:2157px;
}
#u269 {
  position:absolute;
  left:916px;
  top:148px;
  width:777px;
  height:2156px;
  font-size:36px;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:26px;
}
#u271 {
  position:absolute;
  left:369px;
  top:1272px;
  width:289px;
  height:25px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u272 {
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  white-space:nowrap;
}
#u273 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u274 {
  position:absolute;
  left:943px;
  top:1791px;
  width:750px;
  height:90px;
}
#u275 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u276 {
  position:absolute;
  left:973px;
  top:1816px;
  width:169px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:rgba(0, 0, 0, 0.498039215686275);
}
#u277 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u278 {
  position:absolute;
  left:1590px;
  top:1822px;
  width:50px;
  height:29px;
}
#u279 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u280 {
  position:absolute;
  left:1590px;
  top:1822px;
  width:28px;
  height:29px;
}
#u281 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:26px;
}
#u282 {
  position:absolute;
  left:1291px;
  top:1824px;
  width:307px;
  height:25px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u283 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:1191px;
}
#u285 {
  position:absolute;
  left:21px;
  top:284px;
  width:30px;
  height:1190px;
}
#u286 {
  position:absolute;
  left:2px;
  top:587px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:1191px;
}
#u287 {
  position:absolute;
  left:741px;
  top:284px;
  width:30px;
  height:1190px;
}
#u288 {
  position:absolute;
  left:2px;
  top:587px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:51px;
}
#u289 {
  position:absolute;
  left:43px;
  top:205px;
  width:73px;
  height:50px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u290 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:58px;
}
#u291 {
  position:absolute;
  left:35px;
  top:30px;
  width:241px;
  height:57px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u292 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
