body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1655px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:1335px;
}
#u830 {
  position:absolute;
  left:35px;
  top:125px;
  width:750px;
  height:1334px;
  font-size:11px;
  color:#000000;
}
#u831 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u833 {
  position:absolute;
  left:354px;
  top:105px;
  width:37px;
  height:37px;
  overflow:hidden;
}
#u833_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u833_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u833_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u833_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:38px;
}
#u834 {
  position:absolute;
  left:35px;
  top:105px;
  width:750px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u835 {
  position:absolute;
  left:2px;
  top:11px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:128px;
}
#u836 {
  position:absolute;
  left:55px;
  top:1332px;
  width:710px;
  height:127px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u837 {
  position:absolute;
  left:2px;
  top:56px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u838 {
  position:absolute;
  left:344px;
  top:1263px;
  width:133px;
  height:133px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#0000FF;
}
#u839 {
  position:absolute;
  left:2px;
  top:33px;
  width:129px;
  word-wrap:break-word;
}
#u840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:103px;
}
#u840 {
  position:absolute;
  left:55px;
  top:1372px;
  width:87px;
  height:87px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(51, 51, 51, 0.8);
}
#u841 {
  position:absolute;
  left:2px;
  top:22px;
  width:83px;
  word-wrap:break-word;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:103px;
}
#u842 {
  position:absolute;
  left:678px;
  top:1372px;
  width:87px;
  height:87px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(51, 51, 51, 0.8);
}
#u843 {
  position:absolute;
  left:2px;
  top:22px;
  width:83px;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u844 {
  position:absolute;
  left:559px;
  top:111px;
  width:70px;
  height:20px;
  font-size:24px;
  color:#FFFFFF;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:89px;
}
#u846 {
  position:absolute;
  left:35px;
  top:143px;
  width:750px;
  height:88px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u847 {
  position:absolute;
  left:2px;
  top:10px;
  width:746px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:51px;
}
#u848 {
  position:absolute;
  left:682px;
  top:162px;
  width:73px;
  height:50px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:49px;
}
#u850 {
  position:absolute;
  left:65px;
  top:163px;
  width:27px;
  height:48px;
}
#u851 {
  position:absolute;
  left:2px;
  top:16px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u852 {
  position:absolute;
  left:35px;
  top:259px;
  width:750px;
  height:90px;
}
#u853 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:41px;
}
#u854 {
  position:absolute;
  left:65px;
  top:284px;
  width:309px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u856 {
  position:absolute;
  left:35px;
  top:349px;
  width:750px;
  height:90px;
}
#u857 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
}
#u858 {
  position:absolute;
  left:65px;
  top:374px;
  width:113px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u860 {
  position:absolute;
  left:35px;
  top:438px;
  width:750px;
  height:90px;
}
#u861 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u862 {
  position:absolute;
  left:65px;
  top:463px;
  width:169px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u864 {
  position:absolute;
  left:719px;
  top:469px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u865 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u866 {
  position:absolute;
  left:719px;
  top:380px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u867 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:34px;
}
#u868 {
  position:absolute;
  left:502px;
  top:378px;
  width:207px;
  height:33px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u869 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:34px;
}
#u870 {
  position:absolute;
  left:368px;
  top:467px;
  width:341px;
  height:33px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u872 {
  position:absolute;
  left:35px;
  top:555px;
  width:750px;
  height:90px;
}
#u873 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
}
#u874 {
  position:absolute;
  left:65px;
  top:580px;
  width:141px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u876 {
  position:absolute;
  left:35px;
  top:665px;
  width:750px;
  height:90px;
}
#u877 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
}
#u878 {
  position:absolute;
  left:65px;
  top:690px;
  width:113px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u880 {
  position:absolute;
  left:35px;
  top:754px;
  width:750px;
  height:90px;
}
#u881 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u882 {
  position:absolute;
  left:65px;
  top:779px;
  width:169px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u884 {
  position:absolute;
  left:719px;
  top:785px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u885 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u886 {
  position:absolute;
  left:719px;
  top:586px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u887 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u888 {
  position:absolute;
  left:719px;
  top:696px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u889 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
}
#u890 {
  position:absolute;
  left:516px;
  top:584px;
  width:193px;
  height:33px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u892 {
  position:absolute;
  left:685px;
  top:290px;
  width:50px;
  height:29px;
}
#u893 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u894 {
  position:absolute;
  left:707px;
  top:290px;
  width:28px;
  height:29px;
}
#u895 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:270px;
}
#u897 {
  position:absolute;
  left:35px;
  top:259px;
  width:30px;
  height:269px;
}
#u898 {
  position:absolute;
  left:2px;
  top:126px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:270px;
}
#u899 {
  position:absolute;
  left:755px;
  top:259px;
  width:30px;
  height:269px;
}
#u900 {
  position:absolute;
  left:2px;
  top:126px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:91px;
}
#u902 {
  position:absolute;
  left:35px;
  top:554px;
  width:30px;
  height:90px;
}
#u903 {
  position:absolute;
  left:2px;
  top:37px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:91px;
}
#u904 {
  position:absolute;
  left:755px;
  top:554px;
  width:30px;
  height:90px;
}
#u905 {
  position:absolute;
  left:2px;
  top:37px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:180px;
}
#u907 {
  position:absolute;
  left:35px;
  top:665px;
  width:30px;
  height:179px;
}
#u908 {
  position:absolute;
  left:2px;
  top:82px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:180px;
}
#u909 {
  position:absolute;
  left:755px;
  top:665px;
  width:30px;
  height:179px;
}
#u910 {
  position:absolute;
  left:2px;
  top:82px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:1335px;
}
#u911 {
  position:absolute;
  left:905px;
  top:125px;
  width:750px;
  height:1334px;
  font-size:11px;
  color:#000000;
}
#u912 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u914 {
  position:absolute;
  left:1224px;
  top:105px;
  width:37px;
  height:37px;
  overflow:hidden;
}
#u914_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u914_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u914_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:37px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u914_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:38px;
}
#u915 {
  position:absolute;
  left:905px;
  top:105px;
  width:750px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u916 {
  position:absolute;
  left:2px;
  top:11px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:128px;
}
#u917 {
  position:absolute;
  left:925px;
  top:1332px;
  width:710px;
  height:127px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u918 {
  position:absolute;
  left:2px;
  top:56px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u919 {
  position:absolute;
  left:1214px;
  top:1263px;
  width:133px;
  height:133px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:48px;
  color:#0000FF;
}
#u920 {
  position:absolute;
  left:2px;
  top:33px;
  width:129px;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:103px;
}
#u921 {
  position:absolute;
  left:925px;
  top:1372px;
  width:87px;
  height:87px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(51, 51, 51, 0.8);
}
#u922 {
  position:absolute;
  left:2px;
  top:22px;
  width:83px;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:103px;
}
#u923 {
  position:absolute;
  left:1548px;
  top:1372px;
  width:87px;
  height:87px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(51, 51, 51, 0.8);
}
#u924 {
  position:absolute;
  left:2px;
  top:22px;
  width:83px;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
}
#u925 {
  position:absolute;
  left:1429px;
  top:111px;
  width:70px;
  height:20px;
  font-size:24px;
  color:#FFFFFF;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:89px;
}
#u927 {
  position:absolute;
  left:905px;
  top:143px;
  width:750px;
  height:88px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:48px;
}
#u928 {
  position:absolute;
  left:2px;
  top:10px;
  width:746px;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:51px;
}
#u929 {
  position:absolute;
  left:1552px;
  top:162px;
  width:73px;
  height:50px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:49px;
}
#u931 {
  position:absolute;
  left:935px;
  top:163px;
  width:27px;
  height:48px;
}
#u932 {
  position:absolute;
  left:2px;
  top:16px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u933 {
  position:absolute;
  left:905px;
  top:259px;
  width:750px;
  height:90px;
}
#u934 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:41px;
}
#u935 {
  position:absolute;
  left:935px;
  top:284px;
  width:309px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u937 {
  position:absolute;
  left:905px;
  top:349px;
  width:750px;
  height:90px;
}
#u938 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
}
#u939 {
  position:absolute;
  left:935px;
  top:374px;
  width:113px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u941 {
  position:absolute;
  left:905px;
  top:438px;
  width:750px;
  height:90px;
}
#u942 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u943 {
  position:absolute;
  left:935px;
  top:463px;
  width:169px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u945 {
  position:absolute;
  left:1589px;
  top:469px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u946 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u947 {
  position:absolute;
  left:1589px;
  top:380px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u948 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:34px;
}
#u949 {
  position:absolute;
  left:1372px;
  top:378px;
  width:207px;
  height:33px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  white-space:nowrap;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:34px;
}
#u951 {
  position:absolute;
  left:1238px;
  top:467px;
  width:341px;
  height:33px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u953 {
  position:absolute;
  left:905px;
  top:555px;
  width:750px;
  height:90px;
}
#u954 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:41px;
}
#u955 {
  position:absolute;
  left:935px;
  top:580px;
  width:141px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u957 {
  position:absolute;
  left:905px;
  top:665px;
  width:750px;
  height:90px;
}
#u958 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:41px;
}
#u959 {
  position:absolute;
  left:935px;
  top:690px;
  width:113px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u961 {
  position:absolute;
  left:905px;
  top:754px;
  width:750px;
  height:90px;
}
#u962 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u963 {
  position:absolute;
  left:935px;
  top:779px;
  width:169px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u965 {
  position:absolute;
  left:1589px;
  top:785px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u966 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u967 {
  position:absolute;
  left:1589px;
  top:586px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u968 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u969 {
  position:absolute;
  left:1589px;
  top:696px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u970 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
}
#u971 {
  position:absolute;
  left:1386px;
  top:584px;
  width:193px;
  height:33px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:30px;
}
#u973 {
  position:absolute;
  left:1555px;
  top:290px;
  width:50px;
  height:29px;
}
#u974 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
}
#u975 {
  position:absolute;
  left:1577px;
  top:290px;
  width:28px;
  height:29px;
}
#u976 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:270px;
}
#u978 {
  position:absolute;
  left:905px;
  top:259px;
  width:30px;
  height:269px;
}
#u979 {
  position:absolute;
  left:2px;
  top:126px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:270px;
}
#u980 {
  position:absolute;
  left:1625px;
  top:259px;
  width:30px;
  height:269px;
}
#u981 {
  position:absolute;
  left:2px;
  top:126px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u982 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:91px;
}
#u983 {
  position:absolute;
  left:905px;
  top:554px;
  width:30px;
  height:90px;
}
#u984 {
  position:absolute;
  left:2px;
  top:37px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:91px;
}
#u985 {
  position:absolute;
  left:1625px;
  top:554px;
  width:30px;
  height:90px;
}
#u986 {
  position:absolute;
  left:2px;
  top:37px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:180px;
}
#u988 {
  position:absolute;
  left:905px;
  top:665px;
  width:30px;
  height:179px;
}
#u989 {
  position:absolute;
  left:2px;
  top:82px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:180px;
}
#u990 {
  position:absolute;
  left:1625px;
  top:665px;
  width:30px;
  height:179px;
}
#u991 {
  position:absolute;
  left:2px;
  top:82px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:864px;
}
#u993 {
  position:absolute;
  left:925px;
  top:566px;
  width:710px;
  height:863px;
}
#u994 {
  position:absolute;
  left:2px;
  top:424px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:91px;
}
#u995 {
  position:absolute;
  left:925px;
  top:653px;
  width:710px;
  height:90px;
}
#u996 {
  position:absolute;
  left:2px;
  top:37px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u997 {
  position:absolute;
  left:952px;
  top:678px;
  width:74px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:91px;
}
#u999 {
  position:absolute;
  left:925px;
  top:743px;
  width:710px;
  height:90px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:37px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:91px;
}
#u1001 {
  position:absolute;
  left:925px;
  top:833px;
  width:710px;
  height:90px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:37px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:91px;
}
#u1003 {
  position:absolute;
  left:925px;
  top:922px;
  width:710px;
  height:90px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:37px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:41px;
}
#u1005 {
  position:absolute;
  left:952px;
  top:947px;
  width:91px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:91px;
}
#u1007 {
  position:absolute;
  left:925px;
  top:1012px;
  width:710px;
  height:90px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:37px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:91px;
}
#u1009 {
  position:absolute;
  left:925px;
  top:1102px;
  width:710px;
  height:90px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:37px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:41px;
}
#u1011 {
  position:absolute;
  left:952px;
  top:1127px;
  width:91px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:91px;
}
#u1013 {
  position:absolute;
  left:925px;
  top:1192px;
  width:710px;
  height:90px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:37px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:41px;
}
#u1015 {
  position:absolute;
  left:952px;
  top:1217px;
  width:85px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u1017 {
  position:absolute;
  left:952px;
  top:768px;
  width:74px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:41px;
}
#u1019 {
  position:absolute;
  left:952px;
  top:858px;
  width:74px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u1020 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u1021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:41px;
}
#u1021 {
  position:absolute;
  left:952px;
  top:1037px;
  width:91px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:51px;
}
#u1023 {
  position:absolute;
  left:1224px;
  top:591px;
  width:145px;
  height:50px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#000000;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1025 {
  position:absolute;
  left:1571px;
  top:682px;
  width:32px;
  height:32px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1027_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:37px;
  height:37px;
}
#u1027 {
  position:absolute;
  left:1571px;
  top:772px;
  width:32px;
  height:32px;
}
#u1028 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1029 {
  position:absolute;
  left:1571px;
  top:864px;
  width:32px;
  height:32px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1031 {
  position:absolute;
  left:1571px;
  top:953px;
  width:32px;
  height:32px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1033 {
  position:absolute;
  left:1571px;
  top:1043px;
  width:32px;
  height:32px;
}
#u1034 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1035 {
  position:absolute;
  left:1571px;
  top:1133px;
  width:32px;
  height:32px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u1037 {
  position:absolute;
  left:1571px;
  top:1223px;
  width:32px;
  height:32px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:59px;
}
#u1039 {
  position:absolute;
  left:976px;
  top:1334px;
  width:609px;
  height:58px;
  font-family:'苹方 细体', '苹方 中等', '苹方';
  font-weight:300;
  font-style:normal;
  font-size:28px;
  color:#0066FF;
}
#u1040 {
  position:absolute;
  left:2px;
  top:9px;
  width:605px;
  word-wrap:break-word;
}
#u1041 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:593px;
}
#u1042 {
  position:absolute;
  left:926px;
  top:690px;
  width:30px;
  height:592px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:288px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:593px;
}
#u1044 {
  position:absolute;
  left:1603px;
  top:690px;
  width:30px;
  height:592px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:288px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1046 {
  position:absolute;
  left:925px;
  top:998px;
  width:0px;
  height:0px;
}
#u1046_seg0 {
  position:absolute;
  left:-129px;
  top:-4px;
  width:129px;
  height:8px;
}
#u1046_seg1 {
  position:absolute;
  left:-129px;
  top:-608px;
  width:8px;
  height:612px;
}
#u1046_seg2 {
  position:absolute;
  left:-140px;
  top:-608px;
  width:19px;
  height:8px;
}
#u1046_seg3 {
  position:absolute;
  left:-20px;
  top:-10px;
  width:27px;
  height:20px;
}
#u1046_seg4 {
  position:absolute;
  left:-143px;
  top:-614px;
  width:20px;
  height:20px;
}
#u1047 {
  position:absolute;
  left:-175px;
  top:-255px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:91px;
}
#u1048 {
  position:absolute;
  left:35px;
  top:865px;
  width:750px;
  height:90px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:41px;
}
#u1050 {
  position:absolute;
  left:65px;
  top:890px;
  width:169px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:29px;
}
#u1052 {
  position:absolute;
  left:719px;
  top:896px;
  width:16px;
  height:28px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1053 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:34px;
}
#u1054 {
  position:absolute;
  left:516px;
  top:894px;
  width:193px;
  height:33px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:rgba(51, 51, 51, 0.498039215686275);
}
#u1055 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:91px;
}
#u1057 {
  position:absolute;
  left:35px;
  top:864px;
  width:30px;
  height:90px;
}
#u1058 {
  position:absolute;
  left:2px;
  top:37px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:91px;
}
#u1059 {
  position:absolute;
  left:755px;
  top:864px;
  width:30px;
  height:90px;
}
#u1060 {
  position:absolute;
  left:2px;
  top:37px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:201px;
}
#u1061 {
  position:absolute;
  left:905px;
  top:1555px;
  width:750px;
  height:200px;
  font-size:48px;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  word-wrap:break-word;
}
#u1063 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:308px;
}
#u1065 {
  position:absolute;
  left:1108px;
  top:2079px;
  width:471px;
  height:307px;
  font-size:18px;
  color:#999999;
}
#u1066 {
  position:absolute;
  left:2px;
  top:146px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:2px;
}
#u1067 {
  position:absolute;
  left:1108px;
  top:2314px;
  width:471px;
  height:1px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:-8px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:71px;
}
#u1069 {
  position:absolute;
  left:1343px;
  top:2316px;
  width:1px;
  height:70px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:27px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:90px;
}
#u1071 {
  position:absolute;
  left:1190px;
  top:2138px;
  width:81px;
  height:89px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u1073 {
  position:absolute;
  left:1177px;
  top:2337px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u1075 {
  position:absolute;
  left:1449px;
  top:2337px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0066FF;
}
#u1076 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:38px;
}
#u1077 {
  position:absolute;
  left:1343px;
  top:2188px;
  width:65px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:38px;
}
#u1079 {
  position:absolute;
  left:1240px;
  top:2187px;
  width:93px;
  height:37px;
  font-size:36px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:-2px;
  width:89px;
  word-wrap:break-word;
}
#u1081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:38px;
}
#u1081 {
  position:absolute;
  left:49px;
  top:39px;
  width:97px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u1083 {
  position:absolute;
  left:905px;
  top:39px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1084 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
