body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:841px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:965px;
  height:611px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u209 {
  position:absolute;
  left:-62px;
  top:-7px;
  width:965px;
  height:611px;
}
#u210 {
  position:absolute;
  left:2px;
  top:298px;
  width:961px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  position:absolute;
  left:137px;
  top:184px;
  width:287px;
  height:32px;
}
#u211_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211.selected {
}
#u212 {
  position:absolute;
  left:2px;
  top:8px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:142px;
  top:188px;
  width:274px;
  height:25px;
}
#u213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u214 {
  position:absolute;
  left:50px;
  top:189px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u216 {
  position:absolute;
  left:176px;
  top:279px;
  width:140px;
  height:40px;
  font-family:'苹方 中等', '苹方';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u217 {
  position:absolute;
  left:2px;
  top:8px;
  width:136px;
  word-wrap:break-word;
}
